// Specific CSS for your home-page

body {
  background: url(../images/background.png);
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height:100vh;
  background-attachment: fixed;
  background: linear-gradient(to left top, #d60480 10%,#3d2d96 50%);
}
