<div class="container">
</br>
</br>
  <div class="container box-special p-5">
    <h1 style="font-size:40px;"> Welcome to Majin Cocktails</h1>
    </br>
    <h2 style="font-size:30px;"> SupÄ Saiyajin Cocktails</h2>
    </br>
    </br>
    <p style="font-size:25px; text-align:center;"> What do you wanna do?</p>
    </br>
    <div class="d-flex justify-content-around">
    </br>
    <%= link_to 'See Every Cocktails', cocktails_path, :class => "btn btn-danger btn-new mr-3" %>
    <%= link_to 'Add a New Cocktail', new_cocktail_path, :class => "btn btn-danger btn-new ml-3" %>
    </br>
    </div>
  </div>
</div>
