.btn-more {
  background-color:#4139a2;
  border:1px;
  border-color: #4139a2;
}

.btn-more:hover {
  background-color:#db1b8b;
  border:1px;
  border-color: #db1b8b;
}

.btn-new {
  background-color:#db1b8b;
  box-shadow:3px 5px 5px black;
  border:1px;
  border-color: #db1b8b;
}

.btn-new:hover {
  background-color:#4139a2;
  border:1px;
  border-color: #4139a2;
}

.btn-back {
  background-color:#db1b8b;
  box-shadow:3px 5px 5px black;
  border:1px;
  border-color: #db1b8b;
}

.btn-back:hover {
  background-color:#4139a2;
  border:1px;
  border-color: #4139a2;
}
