// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "cocktails";

body{
  background: url(https://res.cloudinary.com/dpjtoi0iy/image/upload/v1605276518/background-trunks.png);
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height:100vh;
  background-attachment: fixed;
}

h1{
  color: #32668a;
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
  text-shadow: -.0625rem -.0625rem 0 #6BFFFF, .0625rem .0625rem 0 #FF819E;

}

h2 {
  color:#dfb888;
  text-align: center;
  font-size: 25px;
  text-shadow: -.0625rem -.0625rem 0 #6BFFFF, .0625rem .0625rem 0 #FF819E;

}
h3 {
  color: white;
  font-size:20px;
  text-shadow: -.0425rem -.0425rem 0 #6BFFFF, .0425rem .0425rem 0 #FF819E;

}

p {
  font-size:15px;
  color:white;
  /* text-shadow: -.0625rem -.0625rem 0 #6BFFFF, .0625rem .0625rem 0 #FF819E; */
}

ul {
  padding:0!important;
}

.simple-forms {
  color:white;
}
